<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="FaceNews.Android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="FaceNews.Android" android:icon="@drawable/angry"></application>
</manifest>